.projects {
  width: 100%;
  overflow-x: hidden;
}

.projects div {
  display: flex;
  justify-content: center;
}

.projects div div {
  border: 1px solid rgb(239, 239, 239);
  width: 500px;
  height: 300px;
  margin: 50px 30px;
  padding: 20px;
}
